@use 'sass:map';

$paths: () !default;
$fonts-path: map.get(
  $map: $paths,
  $key: 'fonts',
);

@use 'vendor/@fontsource-variable/roboto-flex/mixins' as roboto with (
  $directory: $fonts-path
);
@use 'vendor/@fontsource-variable/source-code-pro/mixins' as source-code-pro with (
  $directory: $fonts-path
);
@use 'vendor/@fortawesome/fontawesome-free/fontawesome';
@use 'vendor/@fortawesome/fontawesome-free/brands' with (
  $fa-font-path: $fonts-path
);
@use 'vendor/@fortawesome/fontawesome-free/regular' with (
  $fa-font-path: $fonts-path
);
@use 'vendor/@fortawesome/fontawesome-free/solid' with (
  $fa-font-path: $fonts-path
);

@include roboto.faces();
@include source-code-pro.faces();
