:root {
  --theme-color-brand-50: 240 242 244;
  --theme-color-brand-100: 224 228 232;
  --theme-color-brand-200: 192 198 204;
  --theme-color-brand-300: 160 168 176;
  --theme-color-brand-400: 112 120 128;
  --theme-color-brand-500: 96 104 112;
  --theme-color-brand-600: 80 88 96;
  --theme-color-brand-700: 64 72 80;
  --theme-color-brand-800: 48 56 64;
  --theme-color-brand-900: 32 40 48;
  --theme-color-brand-950: 16 24 32;
  --theme-color-brand-default: var(--theme-color-brand-900);
}
