<!doctype html>
<html lang="en">
  <head>
    {% comment %}
    <!-- prettier-ignore -->
    {% endcomment %}
    {% include head.liquid %}
    {% include head-custom.liquid %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
